{% extends 'base.html.twig' %}

{% block title %}Create Cocktail{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Cocktail</h1>
        {{ form(form) }}
    </div>
{% endblock %}


